
body {
    font-family: 'Dancing Script', cursive;
    background: rgba( 80, 149, 228, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#dealOfWeek {
    padding: 24px;
    margin-top: -33px;
    text-align: center;
}

nav.navbar.navbar-expand-lg {
    background: black;
    font-size: 24px;
    color: #fff;
}

a.navbar-brand {
    color: #fff !important;
}

#welcomeSummer, #lastMinute {
    padding: 12px;
    text-align: center;
    background: rgba( 155, 155, 155, 0.10 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#welcomeSummer img {
    width: 301px;
    height: 300px;
    border: 1px solid #000;
}
.jumbotron {
    background: rgba( 155, 155, 155, 0.10 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer a.nav-link {
    color: #000 !important;
}
a.nav-link {
    color: #fff !important;
}
